<ng-container *ngIf="messages$ | async as messages">
  <demo-projects-chat-messages [messages]="messages"></demo-projects-chat-messages>
</ng-container>
<demo-projects-chat-message-box
  (chatMessage)="sendMessage($event)"
></demo-projects-chat-message-box>
<button type="button" (click)="clear()">clear history</button>
